



// $green: #00f260;
$blue: #0575e6;
// $body-bg:  linear-gradient(to right, $green, $blue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$secondary: #403f63;
$succes: #21b021;
$primary: #f01;
// $warning: rgb(229, 255, 0);;
$light: rgb(199, 190, 190);
$transition-collapse: height .40s ease;



@import "../node_modules/bootstrap/scss/bootstrap";

// Body

body{
    background: linear-gradient(to right, #ffefba, #ffffff);
    // background:  linear-gradient(to right, #616161, #9bc5c3);
}

// Navegacion
.navbar{
    background: #84b0db;
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);
}
// .logo{
//     filter: drop-shadow(0 1px 1px rgba(0,0,0,0.75));
// }
.btn-dark-mode{
    background: none;
    width: 4rem;
    &:hover{
        filter: invert(50%);
        transform: translateY(-10%);
        transition: 0.5s ease-in;
    }    
}


@include media-breakpoint-up(lg){
    .nav-link:hover{
        text-decoration: underline;
        transition: 0.3s ease-out;
        border-radius: 2rem;
        transform: translateY(-5px);
    }
}

// Banner
.banner{
    position: relative;
    .texto-osvald{    
        font-family: 'Oswald',sans-serif;    
        &:nth-child(1){
            position: absolute;
            top: 15%;
            left: 2%;
            font-size: 2rem;
            filter: drop-shadow(3px 3px 3px rgba(240, 5, 5, 0.75));
            // margin: 2rem auto; 
            @include media-breakpoint-up(sm){
                top: 10%;
                left: 1%;
                font-size: 3.2rem;
            }
            @include media-breakpoint-up(md){
                top: 10%;       
                font-size: 4.3rem;
            }       
            @include media-breakpoint-up(lg){
                font-size: 5.3rem;
            }
            @include media-breakpoint-up(xl){
                font-size: 7rem;
            }
        }
        span{
            font-size: 2rem;
            @include media-breakpoint-up(lg){
                font-size: 3rem;
            }
        }    
    }
    .desc-banner{
        position: absolute;
        top: 20%;
        right: 1%;
        font-size: 1rem;
        filter: drop-shadow(3px 3px 3px rgba(255, 196, 0, 0.75));
    
        @include media-breakpoint-up(sm){
            font-size: 1.4rem;
        }
        @include media-breakpoint-up(md){
            right: 2.5%;
            font-size: 1.8rem;  
        }    
    
        @include media-breakpoint-up(lg){
            right: 3%;
            font-size: 2.2rem;         
        }
        @include media-breakpoint-up(xl){           
            font-size: 2.5rem;         
        }    
    }
    
}

// Main
.titulo-seccion{
    font-family: 'Bebas Neue', cursive;
}
// Conocenos
.slide{
    margin: 1rem auto;
    width: 100%;
    img{
        height: 40vh                
    }
    @include media-breakpoint-up(sm){
        img{
            height: 45vh;
        }
    }    
    @include media-breakpoint-up(md){
        img{
            height: 50vh;
        }
    }
    @include media-breakpoint-up(lg){
        img{
            height: 90vh;
        }
    }    
}

// Servicios
.servicios{
    .servicio{
        font-family: 'Raleway', sans-serif;
        font-size: 1.7rem;
        text-shadow: 2px 2px 4px  black;
    }
}




// Adopta
.btn-adopcion{
    background-color: #0575e6;
    padding: 1rem;
    font-family: Oswald, sans-serif;
    display: inline-block;
    border-radius: 2rem;
    border: none;
    -webkit-box-shadow: 10px 9px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 10px -5px rgba(0,0,0,0.75);      
    &:hover{
        background-color: #470b07;
        transform: translateY(-10%);
        transition: 0.5s ease-in-out;
        -webkit-box-shadow: 6px 4px 6px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 4px 6px 1px rgba(0,0,0,0.75);
        box-shadow: 6px 4px 6px 1px rgba(0,0,0,0.75);
    }
}
.card{
    margin: 0 auto 2rem auto;
    border: none;
    background: rgb(170, 200, 224);
    -webkit-box-shadow: 3px 6px 17px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 17px 2px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 17px 2px rgba(0,0,0,0.75);
}

.number-list{
    background-color: rgb(70, 19, 19);
    color: white;
    border-radius: 50%;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    width: 3rem;
    height: 3rem;
}

// Footer
footer{
    -webkit-box-shadow: 0px -3px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 5px -1px rgba(0,0,0,0.75);
    .bg-footer{
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
        background: rgb(136, 46, 46)        
    }
    p, h3{
        color: black;
    }
    .mapa-footer{
        max-width: 1rem;    
    }
    .logo-footer{
        width: 10rem;
        // filter: invert(100%);
    }
    .ref-foot{
        list-style-type: none;
        padding-left: 0;    
    }   
    .link-foot{ 
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-family: Oswald, sans-serif;        
        &:hover{
            text-decoration: underline;
            color: rgb(247, 247, 247);    
        }   
    }
    .link-foot-rs svg{
        max-height: 2rem;     
        margin-bottom: 2rem;   
    }
    
}

// DarkMode
.dark-mode{    
    background: linear-gradient(to right, #232526, #414345);
    transition: 1s ease-in-out;
    p, a{
        color: white;
    }
    .titulo-seccion, h3, h4, h5, h6{
        color: rgb(170, 165, 165);
    }
    .logo, .logo-footer{
        filter: invert(100%);
    }
    .navbar{
        background: #304050;        
        @include media-breakpoint-up(lg){
            .nav-link:hover{
                color: rgb(146, 146, 146);
                text-decoration: underline;
                transition: 0.3s ease-out;
                border-radius: 2rem;
                transform: translateY(-5px);
            }
        }
    }
    .btn-dark-mode, i{
        filter: invert(100%);
    }    
    .servicio{
        color: white;
    }
    .card{
        background: rgb(31, 51, 66);
    }
    .bg-footer{
        background: rgb(65, 19, 19)
    }
    footer{
        .logo-footer{

        }
        .link-foot-rs svg{
            filter: invert(100%);
        }
    }
    
    
}
